@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
/*===== VARIABLES CSS =====*/

:root {
    --h1-fs: 2rem;    --h1-fs-media: 3rem; 
    --h2-fs: 1.5rem;  --h2-fs-media: 2rem;
    --h3-fs: 1.3rem;  --h3-fs-media: 1.8rem;
    --h4-fs: 1.1rem;  --h4-fs-media: 1.5rem;
    --p-fs: .8rem;    --p-fs-media: 1.1rem;
    --a-fs: .7rem;    --a-fs-media: 1.1rem;
    --li-fs: .7rem;   --li-fs-media: 1.1rem;    

    --clr-bg-main: #ddf1f1;
    --clr-bg-pri: #a9e5e7;
    --clr-bg-sec: #f3fafa;
    --clr-acc-main: #4484f5;
    --clr-acc-pri: #366ac4;
    --clr-acc-sec: #33cbb8;
    --clr-acc-thi: #d80000;
    --clr-acc-four: #ad0000;
    --clr-acc-fif: #e03333;
    --clr-text-main: #67696a;
    --clr-text-pri: #36454F;  
    
    --shadow-color: #33cbb8;    
    --main-ff: 'Poppins', sans-serif;
  }

/*===== BASE =====*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-ff);
    font-size: var(--p-fs);
    background: #000;
    color: #eee;
    width: 100%;
    min-height: 100vh;
}   

h1, h2, h3, h4,
p, a, li {
    margin: 0;
}

h1 {
    font-size: var(--h1-fs);
}

h2 {
    font-size: var(--h2-fs);
}

h3 {
    font-size: var(--h3-fs);
}

h4 {
    font-size: var(--h4-fs);
}

p, a, li {
    font-size: var(--p-fs);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--clr-text-main);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

@keyframes scaleUp {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);

    }
}
    /* animation: scaleUp 1s ease-in-out;
    transform-origin: center center; */

/*===== BUTTONS =====*/

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    gap: 1rem;
    background-color:  var(--clr-acc-main);
    height: 3rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    transition: .2s;
}

.btn:last-of-type {
    background-color: #fff;
    color: var(--clr-text-main);
    margin-bottom: 2rem;
    
}

.btn:first-of-type:hover {
    background-color: var(--clr-acc-pri);
}
  
.btn:hover {
    box-shadow: 0 10px 36px rgba(255, 255, 255, .15);
}

.btn:active {
    scale: .97;
}

/*===== PROJECT CSS =====*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
    width: 90%;
    background-image: url("https://images.unsplash.com/photo-1545486332-ae6c3bf92201?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    padding: .5rem;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    animation: scaleUp 1s ease-in-out;
    transform-origin: center center;
    border-radius: 1rem;
}

.card {
    width: 400px;
    min-width: 200px;
    padding: 1rem;
    border-radius: .5rem;
}

.card:first-child {
    background: rgba( 0, 0, 0, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    overflow: hidden;

}

.card:last-child {
    margin-top: auto;
    margin-bottom: 1rem;
}

.card h4 {
    margin: 2rem 0 1rem;
    font-weight: 500;
}

.btn svg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
}

.hr-text {
    border: 0;
    line-height: 1.5rem;
    content: attr(data-content);
    color: #fff;
    position: relative;
    text-align: center;
    height: 1.5rem;
    font-size: 14px;
    margin: 2rem 0 1rem;
  }

.hr-text::before {
    content: "";
    background: linear-gradient(to right, transparent, white);
    position: absolute;
    left: 0;
    top: 50%;
    width: calc(50% - 1.5rem);
    height: 1px;
}

h3 {
    margin-bottom: 1rem;
}

.hr-text::after {
    content: '';
    background: linear-gradient(to right, white, transparent);
    position: absolute;
    right: 0;
    top: 50%;
    width: calc(50% - 1.5rem);
    height: 1px;
}

.card div input,
.card div textarea {
    color: #fff;
    width: 100%;
    border: 1px solid var(--clr-text-main);
    border-radius: .3rem;
    background: transparent;
    padding: .8rem;
    height: 3rem;
    margin-bottom: 1rem;
}

.mail {
    position: relative;
}

.mail > span {
    color: red;
    position: absolute;
    left: 0;
    bottom: -2px;
    transform: translateX(-180px);
    transition: .2s;
}

.mail > span.active {
    transform: translateX(0);
    width: 22ch;
    white-space: nowrap;
    animation: typing 1s steps(22), ease-in-out .2s;
    overflow: hidden;
    
}

.container > p {
    margin-bottom: 2rem;
}

.container p > span {
    color: var(--clr-acc-main);
    cursor: pointer;
}

@keyframes typing {
    from {
      width: 0
    }
  }

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        min-width: 350px;
        gap: 0
    }

    .card h4 {
        margin-top: 1rem;
    }

    .card {
        width: 90%;
        max-width: 400px;
        margin: 0 auto;
    }
    
}
